.App {
  text-align: center;
  background-color: #282c34;
  align-items: center;
  display: flex;
  flex-direction: column;
  color: white;
  min-height: 100vh;
}

.App h1 {
  font-size: calc(30px + 2vmin);
}

.App header {
  margin: 30px;
}

.App .nav-tabs {
  width: 100%;
  justify-content: center;
}

.App .nav-tabs .nav-link {
  border-color: #FFF;
  margin: 0px 5px 0px 5px;
  color: #FFF;
}

.App .nav-tabs .nav-link.active {
  background-color: #888;
  color: #222;
}

