.NewPattern {
  margin-top: 15px;
  display: flex;
  flex-direction: row;
}

hr.hrFade {
  border: 0;
  height: 1px;
  background-image: linear-gradient(to right, #222222ff, #ffffff77, #222222ff);
}

.NewPatternControls {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.NewPatternControls.row {
  display: flex;
  justify-content: center;
  align-items: center;
}

.NewPatternControls > * > * {
  margin: 10px;
}

.Interval {
  width: 180px !important;
}
